.header {
    background: #fff;
    border: 0px solid #999;
    float: left;
    font-size: 12px;
    font-weight: normal;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.header:focus {
    outline: none;
}